.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  color: black;
}

.select {
  position: relative;
  width: 150px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#selected-text {
  flex-grow: 1;
  text-align: left; /* Alinha o texto à esquerda */
}

.arrow {
  transition: transform 0.3s ease;
}

.select.active .arrow {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  top: 40px;
  left: 0;
  display: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.select.active .options {
  display: block;
}

.option {
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s;
  text-align: left;
}

.option:hover {
  background: #f0f0f0;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
